---
import App from '../components/App';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icono.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kathe | Feliz Cumpleaños</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-black">
		<App client:load />
	</body>
</html>
